<section *ngIf="base" id="base">
    <h1>LISTE DES ETABLISSEMENTS</h1>
    <app-next-liste>
        <app-next-ligne *ngFor="let item of listConfig; let i = index" class="row">
            <p class="col-md-12" (click)="getOneFhirConfig(i)">{{ item.name }}</p>
        </app-next-ligne>
    </app-next-liste>
</section>
<section *ngIf="endpoint" id="endpoint">
    <h1>LISTE DES ENDPOINTS ({{ oneConfig.name }})</h1>
    <app-next-liste>
        <app-next-ligne *ngFor="let item of oneConfig.endpoints; let i = index">
            <p class="row" (click)="getOneFhirEndpoint(i)">
                <span class="col-md-4">{{ item.name }}</span>
                <span class="col-md-8"><a [href]="item.lien">{{ item.label }}</a></span>
            </p>
        </app-next-ligne>
    </app-next-liste>
</section>
<section *ngIf="configuration" id="configuration">
    <h1>Configuration commune DMP/MSS ({{ oneConfig.name }})</h1>
    <app-next-liste>
        <app-next-ligne *ngFor="let item of oneConfig.endpoints; let i = index" class="row">
            <p class="col-md-4" (click)="getOneFhirConfigForm(i)">{{ oneConfig.endpoints[i].nameEtab }}</p>
            <p class="col-md-8" (click)="getOneFhirConfigForm2(i)"><input type="text" [value]="oneConfig.endpoints[i].labelEtab"></p>
        </app-next-ligne>
    </app-next-liste>
</section>
<section *ngIf="form" id="formConfig">
    <h1>Configuration MSS ({{ oneConfig.name }})</h1>
    <form action="">
        <div>
            <label for="">OID</label>
            <input type="text" [value]="formConfig.oid">
        </div>
        <div>
            <label for="">Adresse du Endpoint</label>
            <input type="text" [value]="formConfig.adresse">
        </div>
        <div>
            <label for="">Ficher Readme</label>
            <input type="text" [value]="formConfig.readme">
        </div>
        <div>
            <label for="">Fichier Index</label>
            <input type="text" [value]="formConfig.index">
        </div>
        <div>
            <label for="">Boîtes mail</label>
            <input type="text" [value]="formConfig.mails">
        </div>
        <div>
            <label for="">Nom de l'auteur des messages</label>
            <input type="text" [value]="formConfig.auteur">
        </div>
        <div>
            <label for="">Mail de l'auteur des messages</label>
            <input type="text" [value]="formConfig.mail">
        </div>
        <div>
            <label for="">Emetteur (GED)</label>
            <input type="text" [value]="formConfig.emetteur">
        </div>
        <div>
            <label for="">Le certificat est présent, les données ne seront modifiées que si elles sont renseignées, Certificat</label>
            <input type="file">
        </div>
        <div>
            <label for="">Mot de passe</label>
            <input type="text" [value]="formConfig.mdp">
        </div>
    </form>
</section>
<section *ngIf="form2" id="formConfig2">
    <h1>Configuration DMP ({{ oneConfig.name }})</h1>
    <form action="">
        <div>
            <label for="">Adresse du endpoint</label>
            <input type="text" [value]="formConfig2.adresseEndpoint">
        </div>
        <div>
            <label for="">Adresse du Endpoint DMP</label>
            <input type="text" [value]="formConfig2.adresseEndpointDMP">
        </div>
        <div>
            <label for="">Adresse du Endpoint MSS</label>
            <input type="text" [value]="formConfig2.adresseEndpointMSS">
        </div>
        <div>
            <label for="">OID racine DMP</label>
            <input type="text" [value]="formConfig2.OIDRacineDMP">
        </div>
        <div>
            <label for="">Gestion des mineurs</label>
            <input type="checkbox" [checked]="formConfig2.gestion">
        </div>
        <div>
            <label for="">Age de la majorité</label>
            <input type="text" [value]="formConfig2.age">
        </div>
        <div>
            <label for="">Age minimal pour la connexion secrète</label>
            <input type="text" [value]="formConfig2.ageMini">
        </div>
        <div>
            <label for="">Réévaluation de la connexion secrète</label>
            <input type="text" [value]="formConfig2.reevaluation">
        </div>
        <div>
            <label for="">Confidentialité</label>
            <div *ngFor="let item of formConfig2.confidentialite; let i = index ">
                <input type="checkbox" [checked]="item[i]">
                <label for="">{{formConfig2.confidentialiteLabel[i]}}</label>
            </div>
        </div>
        <div>
            <label for="">Automatisation</label>
            <div *ngFor="let item of formConfig2.automatisation; let i = index ">
                <input type="checkbox" [checked]="item[i]">
                <label for="">{{formConfig2.automatisationLabel[i]}}</label>
            </div>
        </div>
    </form>
</section>