<ng-container [ngSwitch]="elementShow">
<section *ngSwitchCase="0" id="base">
    <div>
        <div *ngFor="let item of listConfig; let i = index" (click)="getOneFhirConfig(i)" [class]="item.color">
            <p>{{ item.name }}</p>
            <div>
                <fa-icon class="next-icon" [icon]="faHospital"></fa-icon>
            </div>
        </div>
    </div>
</section>
<section *ngSwitchCase="1" id="endpoint">
    <app-next-liste>
        <app-next-ligne *ngFor="let item of oneConfig.endpoints; let i = index" class="row">
            <p class="row" (click)="getOneFhirEndpoint(i, item.name)">
                <span class="col-md-4">{{ item.name }}</span>
                <span class="col-md-8"><a [href]="item.lien">{{ item.label }}</a></span>
            </p>
        </app-next-ligne>
    </app-next-liste>
</section>
<section *ngSwitchCase="2" id="configuration">
    <app-next-liste>
        <app-next-ligne *ngFor="let item of oneConfig.endpoints; let i = index" class="row">
            <p class="col-md-4" (click)="getOneFhirConfigForm(i)">{{ oneConfig.endpoints[i].nameEtab }}</p>
            <p class="col-md-8" (click)="getOneFhirConfigForm2(i)"><input type="text" [value]="oneConfig.endpoints[i].labelEtab"></p>
        </app-next-ligne>
    </app-next-liste>
</section>
<section *ngSwitchCase="3" id="formConfig">
    <form action="">
        <div class="row">
            <label class="col-md-2" for="">OID</label>
            <input class="col-md-9 offset-md-1" type="text" [value]="formConfig.oid">
        </div>
        <div class="row">
            <label class="col-md-2" for="">Adresse du Endpoint</label>
            <input class="col-md-9 offset-md-1" type="text" [value]="formConfig.adresse">
        </div>
        <div class="row">
            <label class="col-md-2" for="">Ficher Readme</label>
            <input class="col-md-9 offset-md-1" type="text" [value]="formConfig.readme">
        </div>
        <div class="row">
            <label class="col-md-2" for="">Fichier Index</label>
            <input class="col-md-9 offset-md-1" type="text" [value]="formConfig.index">
        </div>
        <div class="row">
            <label class="col-md-2" for="">Boîtes mail</label>
            <input class="col-md-9 offset-md-1" type="text" [value]="formConfig.mails">
        </div>
        <div class="row">
            <label class="col-md-2" for="">Nom de l'auteur des messages</label>
            <input class="col-md-9 offset-md-1" type="text" [value]="formConfig.auteur">
        </div>
        <div class="row">
            <label class="col-md-2" for="">Mail de l'auteur des messages</label>
            <input class="col-md-9 offset-md-1" type="text" [value]="formConfig.mail">
        </div>
        <div class="row">
            <label class="col-md-2" for="">Emetteur (GED)</label>
            <input class="col-md-9 offset-md-1" type="text" [value]="formConfig.emetteur">
        </div>
        <div class="row">
            <label class="col-md-2" for="">Le certificat est présent, les données ne seront modifiées que si elles sont renseignées, Certificat</label>
            <div class="col-md-9 offset-md-1">
                <input type="file">
            </div>
        </div>
        <div class="row">
            <label class="col-md-2" for="">Mot de passe</label>
            <input class="col-md-9 offset-md-1" type="text" [value]="formConfig.mdp">
        </div>
    </form>
</section>
<section *ngSwitchCase="4" id="formConfig2">
    <h1>Configuration DMP ({{ oneConfig.name }})</h1>
    <form action="">
        <div>
            <label class="col-md-2" for="">Adresse du endpoint</label>
            <input class="col-md-9 offset-md-1" type="text" [value]="formConfig2.adresseEndpoint">
        </div>
        <div>
            <label class="col-md-2" class="col-md-2" for="">Adresse du Endpoint DMP</label>
            <input class="col-md-9 offset-md-1" type="text" [value]="formConfig2.adresseEndpointDMP">
        </div>
        <div>
            <label class="col-md-2" for="">Adresse du Endpoint MSS</label>
            <input class="col-md-9 offset-md-1" type="text" [value]="formConfig2.adresseEndpointMSS">
        </div>
        <div>
            <label class="col-md-2" for="">OID racine DMP</label>
            <input class="col-md-9 offset-md-1" type="text" [value]="formConfig2.OIDRacineDMP">
        </div>
        <div>
            <label class="col-md-2" for="">Gestion des mineurs</label>
            <div class="col-md-9 offset-md-1">
                <div class="contain-check">
                    <input id="mineur" type="checkbox" [checked]="formConfig2.gestion">
                    <label for="mineur">Proposer la connexion secrète</label>
                </div>
            </div>
        </div>
        <div>
            <label class="col-md-2" for="">Age de la majorité</label>
            <input class="col-md-9 offset-md-1" type="text" [value]="formConfig2.age">
        </div>
        <div>
            <label class="col-md-2" for="">Age minimal pour la connexion secrète</label>
            <input class="col-md-9 offset-md-1" type="text" [value]="formConfig2.ageMini">
        </div>
        <div>
            <label class="col-md-2" for="">Réévaluation de la connexion secrète</label>
            <input class="col-md-9 offset-md-1" type="text" [value]="formConfig2.reevaluation">
        </div>
        <div>
            <label class="col-md-2" for="">Confidentialité</label>
            <div class="col-md-9 offset-md-1">
                <div class="contain-check" *ngFor="let item of formConfig2.confidentialite; let i = index ">
                    <input type="checkbox" [checked]="item[i]" [id]="'confidentiel'+i">
                    <label [for]="'confidentiel'+i">{{formConfig2.confidentialiteLabel[i]}}</label>
                </div>
            </div>
        </div>
        <div>
            <label class="col-md-2" for="">Automatisation</label>
            <div class="col-md-9 offset-md-1">
                <div class="contain-check" *ngFor="let item of formConfig2.automatisation; let i = index ">
                    <input type="checkbox" [checked]="item[i]" [id]="'auto'+i">
                    <label [for]="'auto'+i">{{formConfig2.automatisationLabel[i]}}</label>
                </div>
            </div>
        </div>
    </form>
</section>
</ng-container>