<section>
    <h1>LISTE DES SERVEURS FHIR REST</h1>
    <p>
        Les services listés ci-dessous supportent l'interface RESTful FHIR.<br>
        Dans la mesure du possible, ils implémentent les profils de ressources des projets :
    </p>
    <ul>
        <li>CI-SIS</li>
        <li>Interop'Santé (HL7 France et IHE France)</li>
        <li>Modélisation des structures et professionnels (ANS)</li>
        <li>L'annexe CISIS INS et les modifications IHE France pour l'INS</li>
    </ul>
    <p>Nous faison parfois référence Find-1-Code. Ce site permet la meilleure compréhension de certains codes exploités dans les différentes références de base.</p>
</section>
<section>
    <table>
        <thead>
            <tr>
                <th>Ressource</th>
                <th>Documentation</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of listServices; let i = index">
                <td><a [href]="item.lien">{{ item.name }}</a></td>
                <td>{{ item.label }}</td>
            </tr>
        </tbody>
    </table>
</section>