<app-next-panel idString="FHIRhubID" panelTitle="FHIR Hub">
    <app-next-panel-actions slot="panel-heading">
		<button *ngIf="config" id="btnSave" class="btn">
            <span class="next-icon next-icon-ajout"></span>Enregistrer
        </button>
        <button *ngIf="configForm" id="btnDelete" class="btn">
            <span class="next-icon next-icon-ajout"></span>Supprimer
        </button>
	</app-next-panel-actions>
<app-next-onglets slot="panel-body" class="test" (tabSelected)="changeTab($event)">
    <app-next-onglets-content tabTitle="Services">
        <app-fhirhub-services></app-fhirhub-services>
    </app-next-onglets-content>
    <app-next-onglets-content tabTitle="Transaction">
        <app-fhirhub-transaction></app-fhirhub-transaction>
    </app-next-onglets-content>
    <app-next-onglets-content tabTitle="Config">
        <app-fhirhub-config [dataTab]="tabActive" (showBtnSuppr)="showBtnSuppr()"></app-fhirhub-config>
    </app-next-onglets-content>
</app-next-onglets>
</app-next-panel>