<app-next-panel idString="FHIRhubID" panelTitle="FHIR Hub">
FHIRhub works

<app-next-onglets slot="panel-body">
    <app-next-onglets-content tabTitle="Services">
        <app-fhirhub-services></app-fhirhub-services>
    </app-next-onglets-content>
    <app-next-onglets-content tabTitle="Transaction">
        <app-fhirhub-transaction></app-fhirhub-transaction>
    </app-next-onglets-content>
    <app-next-onglets-content tabTitle="Config">
        <app-fhirhub-config></app-fhirhub-config>
    </app-next-onglets-content>
</app-next-onglets>
</app-next-panel>